## date 25 sep 2019

## Tuples

In [1]:
name = "apssdc"

In [2]:
name[1:3][::-1]

'sp'

In [10]:
l1=[12,14,45,65,75,"a",'b']

In [11]:
l1.remove(45)
l1

[12, 14, 65, 75, 'a', 'b']

In [12]:
b = 12,2.3,"abc"

In [13]:
b,type(b)

((12, 2.3, 'abc'), tuple)

In [15]:
a = ('a',12,2.3,[2,34,'list'],(23,4,"65"))
a

('a', 12, 2.3, [2, 34, 'list'], (23, 4, '65'))

In [18]:
print(a[0]) #indexing
a[0] = "b"

a

TypeError: 'tuple' object does not support item assignment

In [20]:
a[-1][::-1]

('65', 4, 23)

In [22]:
a[3][1]

34

In [23]:
help(tuple)

Help on class tuple in module builtins:

class tuple(object)
 |  tuple(iterable=(), /)
 |
 |  Built-in immutable sequence.
 |
 |  If no argument is given, the constructor returns an empty tuple.
 |  If iterable is specified the tuple is initialized from iterable's items.
 |
 |  If the argument is a tuple, the return value is the same object.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(self, /)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [24]:
dir(())

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [28]:
t1 = (1,2,4,1,5,2)
print('count of 1 in a given tuple',t1.count(2))
t1.index(2)

count of 1 in a given tuple 2

1

In [38]:
%%timeit
input_ = tuple(input())
print("input data",input_,type(input_))
for ele in input_[::-1]:
    print(ele,sep = "",end = "")

apssdc
input data ('a', 'p', 's', 's', 'd', 'c') <class 'tuple'>
cdsspaapssdc
input data ('a', 'p', 's', 's', 'd', 'c') <class 'tuple'>
cdsspaapssdc
input data ('a', 'p', 's', 's', 'd', 'c') <class 'tuple'>
cdsspaapssdc
input data ('a', 'p', 's', 's', 'd', 'c') <class 'tuple'>
cdsspaapssdc
input data ('a', 'p', 's', 's', 'd', 'c') <class 'tuple'>
cdsspaapssdc
input data ('a', 'p', 's', 's', 'd', 'c') <class 'tuple'>
cdsspaapssdc
input data ('a', 'p', 's', 's', 'd', 'c') <class 'tuple'>
cdsspaapssdc
input data ('a', 'p', 's', 's', 'd', 'c') <class 'tuple'>
cdsspaThe slowest run took 26.83 times longer than the fastest. This could mean that an intermediate result is being cached.
20.7 s ± 37.4 s per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [40]:
%%timeit
input_2 = tuple(input())
print(input_2)
"".join(input_2[::-1])

apssdc
('a', 'p', 's', 's', 'd', 'c')
apssdc
('a', 'p', 's', 's', 'd', 'c')
apssdc
('a', 'p', 's', 's', 'd', 'c')
apssdc
('a', 'p', 's', 's', 'd', 'c')
apssdc
('a', 'p', 's', 's', 'd', 'c')
apssdc
('a', 'p', 's', 's', 'd', 'c')
apssdc
('a', 'p', 's', 's', 'd', 'c')
apssdc
('a', 'p', 's', 's', 'd', 'c')
5.45 s ± 995 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [46]:
s = tuple('sri padmavathi mahila university')
s,type(s)

(('s',
  'r',
  'i',
  ' ',
  'p',
  'a',
  'd',
  'm',
  'a',
  'v',
  'a',
  't',
  'h',
  'i',
  ' ',
  'm',
  'a',
  'h',
  'i',
  'l',
  'a',
  ' ',
  'u',
  'n',
  'i',
  'v',
  'e',
  'r',
  's',
  'i',
  't',
  'y'),
 tuple)

In [48]:
s = tuple('sri padmavathi mahila university'.split())
for ele in s:
    print(ele)

sri
padmavathi
mahila
university

In [49]:
n=tuple(input())
s="".join(n)

sri padmavathi

In [58]:
s=tuple(input().split(","))
n=1
for i in s:
    print(n ,".",i)
    n=n+1

sandy,siri
1 . sandy
2 . siri

# set

In [62]:
l1 = [1,34,45,65,78,123,456,678,]
s=set(l1)
s

{1, 34, 45, 65, 78, 123, 456, 678}

In [67]:
crs=["s","a","n","d","h","y","a"]
crs

['s', 'a', 'n', 'd', 'h', 'y', 'a']

In [64]:
ord("s")

115

In [65]:
crs[0]

's'

In [66]:
dir(set)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [68]:
a = {1,2,3,4,5}
b = {4,5,6,6}

In [69]:
a.intersection(b)

{4, 5}

In [70]:
b.union(a)

{1, 2, 3, 4, 5, 6}

In [71]:
a.isdisjoint(b)

False

In [72]:
a.issubset(b)

False

In [74]:
a.symmetric_difference(b)

{1, 2, 3, 6}

In [83]:
a={1,2,5,4}
b={1,3,4,5}
a.symmetric_difference_update(b)
a

{2, 3}

In [84]:
a

{2, 3}

* Give any string find out the unique length .
* Input : abcdadce
* Output: 5

In [85]:
n=input()
m=set(n)
len(m)

abcdadce

5

In [89]:
print(len(set(input(m))))

{'a', 'b', 'c', 'e', 'd'}asdfgh
6

## Dictionaries
Dictionary is an Un-ordered set of key and value pair it is Container that contains data enclosed with curly braces.the pair i.e Key and Values is known an item.

* Introduction to Dictionaries
* Creating a Dictionary 
* Accessing values from Dictionary 
* Updating elements 
* deleting the elements

In [90]:
details = ['mstp','sep',2019,'apssdc',20,'python']
d_details={"program":"mstp","month":"sep","year":2019}

In [99]:
d={1:'sandhya',2:'ready',3:'yenumula','dict':{1:'a',2:'b'},'list':[1,2,3,4]}

In [94]:
d

{1: 'sandhya',
 2: 'ready',
 3: 'yenumula',
 dict: {1: 'a', 2: 'b'},
 'list': [1, 2, 3, 4]}

In [95]:
d[1]

'sandhya'

In [96]:
d['list']

[1, 2, 3, 4]

In [100]:
d['dict'][2]

'b'

In [101]:
programing_1 = {1:'c',2:"c++",3:"java"}
personal_details = {'name':"vasantha",'age':68,'gender':"?",}

In [102]:
programing_1 [4] = 'python'

In [103]:
programing_1

{1: 'c', 2: 'c++', 3: 'java', 4: 'python'}

In [105]:
personal_details['gender'] = "female"

In [106]:
personal_details

{'name': 'vasantha', 'age': 68, 'gender': 'female'}

In [107]:
len(personal_details)

3

In [110]:
for ele in personal_details.values():
    print(ele)

vasantha
68
female

In [111]:
for ele in personal_details.keys():
    print(ele)

name
age
gender

In [112]:
for ele1,ele2 in personal_details.items():
    print(ele1,ele2,sep= ":")

name:vasantha
age:68
gender:female

In [113]:
for ele in personal_details.items():
    print(ele,type(ele))

('name', 'vasantha') <class 'tuple'>
('age', 68) <class 'tuple'>
('gender', 'female') <class 'tuple'>

In [114]:
print(1,2,34,4)
print(2,3,4,5)

1 2 34 4
2 3 4 5

In [115]:
dir({})

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [116]:
d

{1: 'sandhya',
 2: 'ready',
 3: 'yenumula',
 'dict': {1: 'a', 2: 'b'},
 'list': [1, 2, 3, 4]}

In [118]:
d.clear
d

{1: 'sandhya',
 2: 'ready',
 3: 'yenumula',
 'dict': {1: 'a', 2: 'b'},
 'list': [1, 2, 3, 4]}

In [119]:
d_details

{'program': 'mstp', 'month': 'sep', 'year': 2019}

In [120]:
help(dict.copy)

Help on method_descriptor:

copy(...)
    D.copy() -> a shallow copy of D

In [121]:
c_details = d_details.copy()
c_details

{'program': 'mstp', 'month': 'sep', 'year': 2019}

In [122]:
d_details['count'] = 20

In [123]:
d_details

{'program': 'mstp', 'month': 'sep', 'year': 2019, 'count': 20}

In [124]:
c_details

{'program': 'mstp', 'month': 'sep', 'year': 2019}

In [125]:
a = 'sandy'
b = 'siri'

In [126]:
id(a),id(b)

(363032546976, 363032544680)

In [127]:
b

'siri'

## Task
* Maximum length: Print the words which length has maximum if multiple names has max length print that names in same line.
Sample Input : krishna aditya ram eshwer

Sample output : krishna

* Two Strings: Given two strings of equal length, you have to tell whether they both strings are identical. 
Input Format:abc cab

Output Format:"YES" 

* names="Apollo Brix Chichi krish", Print the names which has duplicate characters
output: Apollo Chichi

## two Strings: Given two strings of equal length, you have to tell whether they both strings are identical. 
Input Format:abc cab

Output Format:"YES"

In [2]:
n=input().split()
m=len(n[0])
s=len(n[1])
if m is s:
    print("yes")
else:
    print("no")

abc cab
yes

## Maximum length: Print the words which length has maximum if multiple names has max length print that names in same line.
Sample Input : krishna aditya ram eshwer

Sample output : krishna

In [132]:
name = "krishna aditya ram eshwer".split()
len_name = []
for ele in name:
    len_name.append(len(ele))
name[len_name.index(max(len_name))]

'krishna'

## names="Apollo Brix Chichi krish", Print the names which has duplicate characters
output: Apollo Chichi

In [136]:
name=input().split()
for i in range(len(name)):
    if(i%2==0):
        print(name[i])

apollo brix chichi krish
apollo
chichi

In [4]:
n = "Apollo Brix Chichi krish".split()
for name in n:
    o_len = len(name) #6
    set_len = len(set(name)) #apol 4
    if o_len != set_len:
        print(name,end =" ")

Apollo Chichi